body{
    font-family: system, Helvetica, sans-serif;

    background-color: whitesmoke;
    margin: 0;
}

.navigatie{
    display: flex;
    justify-content: space-evenly;
    background-color: #284B63;
    padding: 1rem;
    border-bottom: 3px #000000;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;

}
a:hover{
    padding: 10px;
    background-color: #153243;
    border-radius: 10px;
    transition: ease-in 0.3s;
}



.intro {
    display: flex;
    padding: 25px;
    border: 1px #014f4f solid;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}
img{
    display: flex;
    padding: 30px;
    border-radius: 10px;
    width: 200px;
}
.info{
    display: flex;

}